In [1]:
%config IPCompleter.greedy=True

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Resources/budget_data_1.csv")
df

      Date  Revenue
0   Oct-12  1154293
1   Nov-12   885773
2   Dec-12  -448704
3   Jan-13   563679
4   Feb-13   555394
5   Mar-13   631974
6   Apr-13   957395
7   May-13  1104047
8   Jun-13   693464
9   Jul-13   454932
10  Aug-13   727272
11  Sep-13   125016
12  Oct-13   339251
13  Nov-13    78523
14  Dec-13   977084
15  Jan-14  1158718
16  Feb-14   332681
17  Mar-14  -341227
18  Apr-14   173826
19  May-14   742611
20  Jun-14  1189806
21  Jul-14   607363
22  Aug-14 -1172384
23  Sep-14   587993
24  Oct-14   295198
25  Nov-14  -300390
26  Dec-14   468995
27  Jan-15   698452
28  Feb-15   967828
29  Mar-15  -454873
30  Apr-15   375723
31  May-15  1140526
32  Jun-15    83836
33  Jul-15   413189
34  Aug-15   551363
35  Sep-15  1195111
36  Oct-15   657081
37  Nov-15    66659
38  Dec-15   803301
39  Jan-16  -953301
40  Feb-16   883934

In [4]:
df2 = pd.read_csv("../Resources/budget_data_2.csv")
df2

        Date  Revenue
0   Jan-2009   943690
1   Feb-2009  1062565
2   Mar-2009   210079
3   Apr-2009  -735286
4   May-2009   842933
5   Jun-2009   358691
6   Jul-2009   914953
7   Aug-2009   723427
8   Sep-2009  -837468
9   Oct-2009  -146929
10  Nov-2009   831730
11  Dec-2009   917752
12  Jan-2010   800038
13  Feb-2010  1117103
14  Mar-2010   181220
15  Apr-2010   120968
16  May-2010   844012
17  Jun-2010   307468
18  Jul-2010   502341
19  Aug-2010  -748679
20  Sep-2010 -1063151
21  Oct-2010   111367
22  Nov-2010   889322
23  Dec-2010  1028794
24  Jan-2011  -705201
25  Feb-2011   457393
26  Mar-2011   358440
27  Apr-2011   110092
28  May-2011  1111337
29  Jun-2011   691712
..       ...      ...
56  Sep-2013   339680
57  Oct-2013   809253
58  Nov-2013   924494
59  Dec-2013   998347
60  Jan-2014  -524902
61  Feb-2014   747765
62  Mar-2014   197783
63  Apr-2014   131625
64  May-2014  1016992
65  Jun-2014  -930753
66  Jul-2014   714387
67  Aug-2014   201005
68  Sep-2014   655535
69  Oct-2014   845108
70  Nov-2014   101736
71  Dec-2014   -93063
72  Jan-2015   984921
73  Feb-2015  -362343
74  Mar-2015   940457
75  Apr-2015   216399
76  May-2015   363036
77  Jun-2015   672160
78  Jul-2015   783533
79  Aug-2015  1079882
80  Sep-2015   288933
81  Oct-2015   894500
82  Nov-2015   411593
83  Dec-2015   789575
84  Jan-2016   355838
85  Feb-2016   437489

[86 rows x 2 columns]

In [5]:
budget_df = df.append(df2)
budget_df

        Date  Revenue
0     Oct-12  1154293
1     Nov-12   885773
2     Dec-12  -448704
3     Jan-13   563679
4     Feb-13   555394
5     Mar-13   631974
6     Apr-13   957395
7     May-13  1104047
8     Jun-13   693464
9     Jul-13   454932
10    Aug-13   727272
11    Sep-13   125016
12    Oct-13   339251
13    Nov-13    78523
14    Dec-13   977084
15    Jan-14  1158718
16    Feb-14   332681
17    Mar-14  -341227
18    Apr-14   173826
19    May-14   742611
20    Jun-14  1189806
21    Jul-14   607363
22    Aug-14 -1172384
23    Sep-14   587993
24    Oct-14   295198
25    Nov-14  -300390
26    Dec-14   468995
27    Jan-15   698452
28    Feb-15   967828
29    Mar-15  -454873
..       ...      ...
56  Sep-2013   339680
57  Oct-2013   809253
58  Nov-2013   924494
59  Dec-2013   998347
60  Jan-2014  -524902
61  Feb-2014   747765
62  Mar-2014   197783
63  Apr-2014   131625
64  May-2014  1016992
65  Jun-2014  -930753
66  Jul-2014   714387
67  Aug-2014   201005
68  Sep-2014   655535
69  Oct-2014   845108
70  Nov-2014   101736
71  Dec-2014   -93063
72  Jan-2015   984921
73  Feb-2015  -362343
74  Mar-2015   940457
75  Apr-2015   216399
76  May-2015   363036
77  Jun-2015   672160
78  Jul-2015   783533
79  Aug-2015  1079882
80  Sep-2015   288933
81  Oct-2015   894500
82  Nov-2015   411593
83  Dec-2015   789575
84  Jan-2016   355838
85  Feb-2016   437489

[127 rows x 2 columns]

In [6]:
#Total number of months included in the dataset
print("Financial Analysis")
tc = sum(budget_df["Date"].value_counts() )

# Get total and average
tr = budget_df["Revenue"].sum()
ta = budget_df["Revenue"].median()

#Greatest Increase and Decrease
gi = budget_df["Revenue"].max()
gd = budget_df["Revenue"].min()

Financial Analysis

In [7]:

print("Total Months:  " + str(tc))
print("Total Revenue:  " + str(tr))
print("Average Revenue:  " + str(ta))
print("Greatest Increase:  " + str(gi))
print("Greatest Decrease:  " + str(gd))

Total Months:  127
Total Revenue:  55945323
Average Revenue:  525242.0
Greatest Increase:  1195111
Greatest Decrease:  -1172384

In [8]:
outfile = budget_df.to_csv("../Output/pybank_budget.csv")