In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Resources/election_data_1.csv")
df.head(10)

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal
5   1943299  Mershville    Vestal
6   1880982      Harsaw    Torres
7   1305689      Harsaw    Torres
8   1759114  Mershville    Vestal
9   1745020  Matterdawn      Seth

In [3]:
df2 = pd.read_csv("../Resources/election_data_2.csv")
df2.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [4]:
poll_data = df.append(df2)
poll_data.head(10)

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal
5   1943299  Mershville    Vestal
6   1880982      Harsaw    Torres
7   1305689      Harsaw    Torres
8   1759114  Mershville    Vestal
9   1745020  Matterdawn      Seth

In [19]:
# Get total votes
total_votes = sum(poll_data["Voter ID"].value_counts())
print(total_votes)

4324001

In [27]:
# Get complete list of candidates that received votes
all_votes = poll_data['Candidate'].value_counts()
print(all_votes)
print(type(all_votes))

Khan        2218231
Correy       704200
Li           492940
Vestal       385440
Torres       353320
O'Tooley     105630
Seth          40150
Cordin        24090
Name: Candidate, dtype: int64
<class 'pandas.core.series.Series'>

In [58]:
pr = all_votes/total_votes*100
print(pr)

Khan        51.300428
Correy      16.285843
Li          11.400090
Vestal       8.913966
Torres       8.171136
O'Tooley     2.442876
Seth         0.928538
Cordin       0.557123
Name: Candidate, dtype: float64

In [51]:
winner = all_votes.nlargest(1)
print(winner)

Khan    2218231
Name: Candidate, dtype: int64

In [60]:
print("The winner is "+ str(winner))

The winner is Khan    2218231
Name: Candidate, dtype: int64