In [1]:
%config IPCompleter.greedy=True

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Resources/budget_data_1.csv")
df.head(10)

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394
5  Mar-13   631974
6  Apr-13   957395
7  May-13  1104047
8  Jun-13   693464
9  Jul-13   454932

In [4]:
df2 = pd.read_csv("../Resources/budget_data_2.csv")
df2.head(10)

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933
5  Jun-2009   358691
6  Jul-2009   914953
7  Aug-2009   723427
8  Sep-2009  -837468
9  Oct-2009  -146929

In [6]:
budget_df = df.append(df2)
budget_df.head(10)

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394
5  Mar-13   631974
6  Apr-13   957395
7  May-13  1104047
8  Jun-13   693464
9  Jul-13   454932

In [7]:
#Total number of months included in the dataset
print("Financial Analysis")
tc = sum(budget_df["Date"].value_counts() )

# Get total and average
tr = budget_df["Revenue"].sum()
ta = budget_df["Revenue"].median()

#Greatest Increase and Decrease
gi = budget_df["Revenue"].max()
gd = budget_df["Revenue"].min()

Financial Analysis

In [8]:

print("Total Months:  " + str(tc))
print("Total Revenue:  " + str(tr))
print("Average Revenue:  " + str(ta))
print("Greatest Increase:  " + str(gi))
print("Greatest Decrease:  " + str(gd))

Total Months:  127
Total Revenue:  55945323
Average Revenue:  525242.0
Greatest Increase:  1195111
Greatest Decrease:  -1172384

In [8]:
outfile = budget_df.to_csv("../Output/pybank_budget.csv")